

.landing-page {
    background-image: url(../img/background.png);
    background-size: cover;
    width: 100rw;
    height: 40em;
  }

  .landing-page-content {
    margin: 4em;
    line-height: 4.5em;
  }
  .landing-page-content p {
    font-family: "Montserrat";
    font-size: 3em;
    font-weight: 700;
    text-decoration: underline;
  }
  form {
    margin-top: 2em;
    margin: 0;
    
  }

  .know-better-input {
    width: 10em;
    height: 2em;
    border-radius: 2em;
    border: 0;
    padding: 0.5em;
    background-color: #f1f6f9;
  }
  .know-better-submit {
    height: 2.8em;
    width: 8em;
    border-radius: 2em;
    border: 0;
    padding: 0.5em;
    background-color: #000000;
    color: #ffff;
  }

  .more-info-con {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .more-info-details {
    width: 70%;
    padding-top: 4em;
  }
  .more-info-details h1 {
    font-size: 3em;
    font-family: "Montserrat";
    font-weight: 100;
    text-decoration: underline;
    padding-bottom: 1em;
  }
  .more-info-details p {
    font-family: "Nunito Sans";
    letter-spacing: 0.1em;
    line-height: 1.4em;
    font-weight: 300;
  }
  .features-con-heading,
  .security-heading {
    font-size: 4em;
    font-family: "Montserrat";
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    color: #1249be;
  }
  .feature {
    display: flex;
  }
  .feature img {
    width: 50%;
    right: 0;
  }
  .feature h1 {
    font-size: 2em;
    text-decoration: underline;
    font-family: "Montserrat";
    line-height: 1.5em;
    padding-bottom: 1.5em;
  }
  .feature p,
  .security-con p {
    font-size: 0.8em;
    font-family: "Open Sans";
    line-height: 1.5em;
  }
  .feature div {
    padding: 5em;
    width: 50%;
  }
  .security-heading {
    color: #ffb4c4;
  }
  .security-con div {
    display: flex;
    justify-content: space-around;
  }
  .security-con p {
    line-height: 2.5em;
    color: #1249be;
  }
  .security-con span {
    font-weight: 700;
  }
  .note {
    text-align: center;
    font-size: 8em;
    color: #585252;
    font-family: "Open Sans";
    font-weight: 700;
    padding: 1em;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
  }
  .app-logo {
    width: 8em;
    margin-bottom: 3em;
  }
  .footer p {
    line-height: 2em;
    font-family: "Nunito Sans";
  }
  .icon-con img {
    width: 1.5em;
    padding-left: 1em;
  }

   /* Home Component Mobile Styling*/
@media (max-width: 990px) {
  
  .landing-page {
    background-image: url(../img/home-background-mobile.png);
    background-size: cover;
    width: 100rw;
    height: 80em;
    margin-bottom: 10em;
  }
  .landing-page-content {
    margin-top: 5em;
    text-align: center;
  }
  .more-info-con {
    background-image: url(../img/about-illustration-mobile.svg);
    background-size: cover;
    height: 40em;
    width: 100%;
  }

  .more-info-con img {
    display: none;
  }
  .more-info-details {
      text-align: justify;
      padding-left: 2em;
      color: #716767;
  }
  .feature {
    flex-direction: column
  }
  .feature:last-child {
    flex-direction: column-reverse;
  }
  
  .feature div {
    font-size: 1.4em;
    width: auto;
    text-align: center;

  }
  .feature img {
    width: 80%;
    display: block;
    margin: auto;
  }
  .security-con div {
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;
  }
  .security-con p {
    margin-bottom: 3em;
  }
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-child {
    margin-bottom: 3em;
    font-size: 1.5em;
  }
  .app-logo {
    width: 13em;
  }
  .icon-con img {
    width: 2em;
  }
}